{% extends 'base.html.twig' %}

{% block title %}List of Orders{% endblock %}

{% block body %}
    <h1>List of Orders</h1>

    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Books</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>
                        {% for unit in order.oBook %}
                            {{ unit.name }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
